/* Header *************************************************************************/

.navbar, .navbar li a {
    transition: 1s;
}

.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header nav #logo {
    max-width: 200px;
}

@media (min-width: 769px) {
    .navbar-brand {
        padding: 7px 15px;
    }
}

/* /Header *************************************************************************/

/* Utilites *************************************************************************/

.padding-small {
    padding: 15px 8px;
}

.padding-medium {
    padding: 30px 15px;
}

.no-margin {
    margin: 0;
}

.margin-bottom-medium {
    margin-bottom: 30px;
}

span.highlight {
    font-size: 28px;
    font-weight: bold;
}

span.highlight.big {
    font-size: 32px;
}

span.highlight.colored {
    color: #ff9c00;
}

/* /Utilites *************************************************************************/

/* Content *************************************************************************/

body {
    background: #fff; /*#227ab2;*/
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.content {
    margin: 30px 0;
}

/* Tiles *************************************************************************/

.dynamicTile .col {
    padding: 15px 5px;
}

.tile {
    background: #fff;
}

.tiles .tile .item {
    height: 400px;
}

#tile1 {
    background: rgb(0, 172, 238);
}

#tile2 {
    background: rgb(243, 243, 243);
}

#tile3 {
    background: rgb(71, 193, 228);
}

#tile4 {
    background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
    background-size: cover;
}

#tile5 {
    background: rgb(175, 26, 63);
}

#tile6 {
    background: rgb(62, 157, 215);
}

#tile7 {
    background: white;
}

#tile8 {
    background: rgb(209, 70, 37);
}

#tile9 {
    background: rgb(0, 142, 0);
}

#tile10 {
    background: rgb(0, 93, 233);
}

.tile .item {
    min-height: 200px;
}

.tilecaption-box {
    width: 100%;
    text-align: center;
    z-index: -1;
    background-color: #fff;
    border: solid 2px #ddd;
    border-top: none;
    position: relative;
}

.tile .tilecaption-box {
    height: 65%;
}

.tile .tilecaption h3 {
    margin-top: 0;
    font-size: large;
}

.tile .b-overlay {
    top: 0;
    height: 35%;
}

.tilecaption {
    padding: 40px 7% 0 7%;
    margin: 0 !important;
}

.tilecaption h3 {
    color: #ff9c00;
}

.tilecaption a {
    color: #fefefe;
    background-color: #ff9c00;
    text-decoration: none;
    padding: 5px 20px;
    transition: 1s;
}

.tilecaption a:hover {
    background-color: #ffc401;
    color: #000;
}

.tilecaption ul {
    margin-top: 10px;
    padding: 0 0 0 5%;
    text-align: left;
    list-style: none;
}

.tilecaption ul > li:not(:last-child) {
   /* margin-bottom: 5px;*/
}

.tilecaption span.highlight.cut {
    font-size: x-large;
    color: #0ad600;
}

.tilecaption span.highlight.gratis {
    font-size: x-large;
    color: #d30000;
}

.tile .item, .tile .item .bg-pic {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tile, .carousel, .carousel-inner, .carousel .item {
    height: 100%;
}

.tile .slide-badge, .tile-description .slide-badge {
    position: absolute;
    padding: 5px 25px;
    background-color: #ff9c00;
    top: -4px;
    z-index: 1;
    left: -5px;
}

.tile .slide-badge.promo::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 5px solid #cb7900;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.tile .slide-badge.right::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 5px solid #d30000;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.tile img.slide-logo, .tile-description img.slide-logo {
    position: absolute;
    right: 0;
    max-height: 50px;
    min-height: 40px;
    z-index: 2;
    margin-right: 5px;
    margin-top: 5px;
}

.tile .logo-container img.slide-logo {
    position: relative;
    left: -50%;
    max-height: 50px;
    min-height: 40px;
    z-index: 2;
}

.tile .slide-badge.right {
    background-color: #f00;
    top: -4px;
    right: -5px;
    display: none;
    z-index: 2;
    left: auto;
}

.tile .slide-badge.right :hover {
    background-color: #ff2f23;
}

.tile .slide-badge.bottom, .tile-description .slide-badge.bottom {
    background-color: #f00;
    top: auto;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 2;
    left: auto;
}

.tile .slide-badge.bottom:hover, .tile-description .slide-badge.bottom:hover{
    background-color: #59c8ff;
}

.tile .slide-badge.bottom, .tile-description .slide-badge.bottom, .tile .slide-badge.right {
    color: #fff;
    text-decoration: none;
}

.contact-form {
    min-height: 350px;
    padding: 15px 0;
}

.contact-form > div {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #ff9c00;
    text-align: center;
}

span.text-bold
{
    font-weight: bold;
}

.contact-form form input[type="text"], .contact-form form input[type="textarea"] {
    color: #000;
}

.contact-form-field {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact-form-field.wrong_input {
    border: 2px solid #880000;
    background-color: #ffaca5;
}

.contact-form-field.wrong_input:focus {
    border: 2px solid #cc1304;
    outline: none;
}

.contact-form-field.correct_input {
    border: 2px solid #067200;
    background-color: #a7ff89;
}

.contact-form-field.correct_input:focus {
    border: 2px solid #07a300;
    outline: none;
}

.contact-form ::-webkit-input-placeholder {
    font-style: italic;
}
.contact-form :-moz-placeholder {
    font-style: italic;
}
.contact-form ::-moz-placeholder {
    font-style: italic;
}
.contact-form :-ms-input-placeholder {
    font-style: italic;
}

.contact-form .btn {
    display: block;
    padding: 15px 30px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    background-color: #3a3a38;
    white-space: normal;
    color: #fff;
}

.contact-form .btn:hover {
    background-color: rgb(69, 99, 91);
}

.col-sm-1.center-block, .col-sm-10.center-block, .col-sm-11.center-block, .col-sm-12.center-block, .col-sm-2.center-block, .col-sm-3.center-block, .col-sm-4.center-block, .col-sm-5.center-block, .col-sm-6.center-block, .col-sm-7.center-block, .col-sm-8.center-block, .col-sm-9.center-block {
    float: none;
}

.contact-form a[data-toggle="tooltip"] {
    text-decoration: none;
}

.contact-form .tooltip .tooltip-inner {
    padding: 10px 15px;
    width: 200px;
    background-color: #3a3a38 !important;
}

.contact-form .tooltip .tooltip-arrow {
    border-left-color: #3a3a38 !important;
    border-top-color: #3a3a38 !important;
}

.contact-form .link {
    color: #000;
    text-decoration: none;
    font-size: 11px;
}

div.b-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 0;
    transition: all .3s ease-in-out;
}

.tile-description .tilecaption-box {
    position: relative;
}

.tile-description {
    color: #000;
}

.tile-description h3 {
    font-weight: bold;
}

.bg-pic {
    height: 35%;
}

.tile .logo-container {
    position: absolute;
    left: 50%;
    top: 10%;
}

.corner-ribbon {
    line-height: 40px;
}

.corner-ribbon.top-left {
    top: 15px;
    left: -65px;
}

.notifyjs-corner div {
    white-space: normal;
}

.notifyjs-bootstrap-black {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal !important;
    background-color: #212121 !important;
    border-color: #000 !important;
    background-image: url('../images/dist/bell.png') !important;
    background-size: 16px 16px !important;
    background-position: 5px 9px !important;
    max-width: 300px;
    font-size: 12px;
}

@media (max-width: 1200px) {
    .contact-form .btn {
        padding: 5px;
    }
}

@media (max-width: 991px) {
    .dynamicTile .contact-form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tile .slide-badge.bottom, .tile .slide-badge.right  {
        display: block;
    }
}

@media (max-width: 768px) {
    .dynamicTile .contact-form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dynamicTile .contact-form, .dynamicTile .contact-form > div {
        min-height: 0 !important;
    }

    .contact-form .btn {
        font-size: 16px;
        padding: 15px 25px;
    }

    .tiles .tile .item {
        height: 450px;
    }

    .tilecaption ul {
        margin-top: 10px;
        padding: 0;
        text-align: left;
    }

    .corner-ribbon {
        line-height: 35px;
    }

    .corner-ribbon.top-left {
        top: 10px;
        left: -75px;
    }
}

/* /Tiles *************************************************************************/

/* /Content *************************************************************************/