/* Header *************************************************************************/

.navbar, .navbar li a {
    transition: 1s;
}
.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header nav #logo {
    max-width: 200px;
}

@media (min-width: 769px) {
    .navbar-brand {
        padding: 7px 15px;
    }
}


/* /Header *************************************************************************/

/* Content *************************************************************************/
.content {
    margin-top: 30px;
}

/* Tiles *************************************************************************/

.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-12{
    padding:5px;
}

#tile1{
    background: rgb(0,172,238);
}

#tile2{
    background: rgb(243,243,243);
}

#tile3{
    background: rgb(71,193,228);
}

#tile4{
    background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
    background-size: cover;
}

#tile5{
    background: rgb(175,26,63);
}

#tile6{
    background: rgb(62,157,215);
}

#tile7{
    background: white;
}

#tile8{
    background: rgb(209,70,37);
}

#tile9{
    background: rgb(0,142,0);
}

#tile10{
    background: rgb(0,93,233);
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}

.tile .item img {
    height: 100%;
}

.tile, .carousel, .carousel-inner, .carousel .item {
    height: 100%;
}

@media (max-width: 768px) {
    .dynamicTile div{
        padding:0;
    }
}

/* /Tiles *************************************************************************/

/* /Content *************************************************************************/